body{
    font-family: 'Abril Fatface', cursive;
}
h1{
    font-size: 40px;
    height: 8px;
    color: rgb(71, 71, 109);
}
h3{
    padding: 30px 0px;
}
.name-highlight{
    color: rgba(255, 140, 0, 0.74);
}
.width-set{
    width: 40%;
    float: left;
    margin-left: 7%;
}
.p-hero{
    text-decoration: none;
}
.width-set img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, blue,orange);
    padding: 11px 20px;
    border-radius: 10px;
    color: rgb(253, 253, 251);
    font-weight: 500;
}
.about-me{
    padding: 40px 0px;
}
section{
    overflow: hidden;
}
.latest-area{
    background-color: rgb(235, 231, 231);
}
h2{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: rgb(71, 71, 109);
    padding-top: 50px;
    padding-bottom: 30px;
}
.latest-highlight{
    height: 10px;
    color: rgba(255, 140, 0, 0.74);
}
.latest-area img{
    max-width: 100%;
    overflow: hidden;   
}
.latest-pic{
    width: 26%;
    float: left;
    padding: 1%;
    background-color: white;
    border-radius: 20px;
    margin-left: 3%;
}
.parent{
    padding-left: 120px;
    padding-right: 100px;
    padding-bottom: 600px;
}
.latest-pera{
    text-align: justify;
.latest-head{
    height: 5px;
}